<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>

    <h2
      *ngIf="form.controls.full_name.value"
      class="headline m-0 flex-auto">
      {{ form.controls.full_name.value  }}
    </h2>
    <h2
      *ngIf="!form.controls.full_name.value"
      class="headline m-0 flex-auto">
      Nouveau Client
    </h2>


    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <mat-form-field class="flex-auto" *ngIf="showSiteField">
      <mat-label>Site</mat-label>
<!--      <input [formControl]="siteCtrl" [matAutocomplete]="auto" matInput [value]="getSiteNameById(siteCtrl.value)" />-->

      <input formControlName="site_id" matInput required min=1 />
      <mat-icon matIconPrefix svgIcon="mat:edit"></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Nom & Prénom</mat-label>
      <input formControlName="full_name" matInput />

      <mat-icon matIconPrefix svgIcon="mat:person_pin_circle"></mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Téléphone</mat-label>
      <input formControlName="phone" matInput />

      <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Addresse</mat-label>
      <input formControlName="address" matInput />

      <mat-icon matIconPrefix svgIcon="mat:location_city"></mat-icon>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Ajouter Client
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Modifier Client
    </button>
  </mat-dialog-actions>
</form>


