<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>

    <h2
      *ngIf="form.controls.name.value || form.controls.name.value"
      class="headline m-0 flex-auto">
      {{ form.controls.name.value + " "}}
    </h2>
    <h2
      *ngIf="!form.controls.name.value && !form.controls.name.value"
      class="headline m-0 flex-auto">
      Nouveau Articles
    </h2>


    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">


    <mat-form-field class="flex-auto">
      <mat-label>Article</mat-label>
      <input formControlName="name" matInput />
      <mat-icon matIconPrefix svgIcon="mat:edit_location"></mat-icon>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Nom Article requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Qualité</mat-label>
      <input formControlName="quality" matInput />
      <mat-icon matIconPrefix svgIcon="mat:edit_location"></mat-icon>
      <mat-error *ngIf="form.get('quality')?.hasError('required')">
        Qualité requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Conversion(Kg-m)</mat-label>
      <input formControlName="conversion_rate" type="number" matInput />
      <mat-icon matIconPrefix svgIcon="mat:edit_location"></mat-icon>
      <mat-error *ngIf="form.get('conversion_rate')?.hasError('required')">
        Conversion requise
      </mat-error>
      <mat-error *ngIf="form.get('conversion_rate')?.hasError('min')">
        La conversion doit être positive
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button
      *ngIf="isCreateMode() && form.invalid==false"
      color="primary"
      mat-flat-button
      type="submit">
      Ajouter Article
    </button>
    <button
      *ngIf="isUpdateMode() && form.invalid==false"
      color="primary"
      mat-flat-button
      type="submit">
      Modifier Article
    </button>
  </mat-dialog-actions>
</form>


